/* You can add global styles to this file, and also import other style files */
body {
	font-family: Montserrat, sans-serif;
	font-size: 72px;
	color: white;
}

.header {
	font-family: Hind;
	background-color: #888888;
	padding-left: 10px;
	padding-top: 5px;
	width: 1072px;
	height: 60px;
	font-size: 36px;
}

.content {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	margin: 15px;
	padding: 15px;
	height: 560px;
	width: 480px;
	color: black;
}

.row {
	height: 300px;
	flex-wrap: wrap;
	padding: 15px;
	margin: -15px;
}

/* Used to highlight the result block */
.result {
	background-color: #FF9900;
	color: white;
}

/* Used to highlight the information block */
.info {
	background-color: #880088;
	color: white;
}

.footer {
	font-family: Hind;
	width: 1072px;
	padding-left: 10px;
	padding-top: 5px;
	background-color: #888888;
	height: 60px; 
	font-size: 36px;
}

/* Style The Dropdown Button */
.dropbutton {
    background-color: #FF9900;
    color: white;
    padding: 16px;
    font-size: 72px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}